.button{
    background-color: rgba(98, 201, 184, 0.493);
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: rgb(235, 235, 235);
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
}
.button:hover{
    background-color: rgb(15, 160, 124);
}