.task-info-container{
    background: rgb(64, 58, 94);
    margin: 15px 2px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    border-radius: 5px;
}
.task-info-container h2{
    margin-bottom: 15px;
    color: aquamarine;
}
.back-buton-container{
    width: 30%;
    margin-top: 10px;
    padding: 15px 13px;
}